$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #c4c4c4;
$txtColor: #000000;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
$green: #4CAF50;
$red: #DB190C;
$fontFamily: 'Roboto',
sans-serif;
$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;
$sideBarWidth: 350px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;
$mobile-width: 600px;
$tablet-width: 1366px;
$border-radius:15px;
$main-color-blue: #349eff;
$second-color-blue: #62b4ff;
$main-color-red: #fb0b12;
$second-color-red: #ff4a6b;
$main-color-cyan: #10d4d2;
$second-color-cyan: #2ae9e6;
$main-color-green: #019707;
$second-color-green: #4caf50;
$main-color-orange: #d68102;
$second-color-orange: #fca11a;