@use "../../scss/abstracts/" as *;
.manage-food {
    margin: 30px;
}

.header {
    @include flex(center, space-between);
    width: 100%;
}

.header-rigth {
    @include flex(center, center)
}

.add_new-action {
    background-color: $green;
    padding: 12px;
    border-radius: $border-radius;
    cursor: pointer;
}

.filter-action {
    background-color: $mainBg;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #000;
}